<section id="search-section">
	<div class="container center">
		<h1 id="search-heading">SEARCH</h1>
		<h2 id="search-subheading">by color</h2>
		<br>
		<!-- I think we should investigate running a click event function to query the database
		rather than a checkbox. -->
		<span class="glyph-white" ng-click="search.find('white')"></span>
		<span class="glyph-green" ng-click="search.find('green')"></span>
		<span class="glyph-red" ng-click="search.find('red')"></span>
		<span class="glyph-blue" ng-click="search.find('blue')"></span>
		<span class="glyph-black" ng-click="search.find('black')"></span>

		<div>
			<!-- cards will populate here.  dummy data to visualize -->
			<a 
				href="/show/{{card.id}}" 
				ng-repeat="card in search.cards | limitTo:limit"
			>
					<img class="thumbnails" src="{{card.imageUrl}}" ng-if="card.imageUrl">
					<!-- load 30 more results? -->
			</a>
			<button ng-show="search.searched" id="search-button" ng-click="limit = limit + 15">Load More</button>
		</div>
	</div>
</section>