<section id="search-section">
	<div class="container center">
		<h1 id="search-heading">SEARCH</h1>
		<h2 id="search-subheading">by color</h2>
		<br>
		<!-- I think we should investigate running a click event function to query the database
		rather than a checkbox. -->
		<span class="glyph-white" ng-click="search.find('white')"></span>
		<span class="glyph-green" ng-click="search.find('green')"></span>
		<span class="glyph-red" ng-click="search.find('red')"></span>
		<span class="glyph-blue" ng-click="search.find('blue')"></span>
		<span class="glyph-black" ng-click="search.find('black')"></span>

		<div>
		<a href="/show" ng-repeat="card in search.cards"><img class="thumbnails" src="{{card.imageUrl}}"></a>
		<!-- cards will populate here.  dummy data to visualize -->
	<!-- 	<a href="/show"><img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=219&type=card"></a>
		<a href="/show"><img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=79&type=card"></a>
		<a href="/show"><img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=39&type=card"></a>
		<a href="/show"><img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=50&type=card"></a>
		<a href="/show"><img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=250&type=card"></a>
		<a href="/show"><img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=230&type=card"></a>
		<a href="/show"><img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=350&type=card"></a>
		<a href="/show"><img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=344&type=card"></a> -->
		</div>
	</div>
</section>