<section id="show-section">
	<div class="container center">
		<a class="link left" href="/results"><h1 id="show-return">Return to Search Results</h1></a>
		
		<!-- Card data will popular here -->
		<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=219&type=card">
		<ul class="left">
			<li>Name: Rock Hydra</li>
			<li>Colors: Red</li>
			<li>Mana Cost: 2</li>
			<li>Type: Creature - Hydra</li>
			<li>Subtype: Hydra</li>
			<li>Rarity: Rare</li> <!-- use an if statement to decide color -->
			<li>Set: LEA</li>
			<li>Artist: Jeff. A Menges</li>
		</ul>

	</div>
</section>