<section id="show-section">
	<div class="container center">
		
		<!-- Card data will popular here -->
		<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=219&type=card">
		<ul id="show-ul" class="left">
			<li class="show-li"><span class="green">NAME</span>: Rock Hydra</li>
			<li class="show-li"><span class="green">COLORS</span>: Red</li>
			<li class="show-li"><span class="green">MANA COST</span>: 2</li>
			<li class="show-li"><span class="green">TYPE</span>: Creature - Hydra</li>
			<li class="show-li"><span class="green">SUBTYPE</span>: Hydra</li>
			<li class="show-li"><span class="green">RARITY</span>: Rare</li> <!-- use an if statement to decide color -->
			<li class="show-li"><span class="green">SET</span>: LEA</li>
			<li class="show-li"><span class="green">ARTIST</span>: Jeff. A Menges</li>
		</ul>

		<a class="link" href="/search"><p id="show-return">Return to Search Results</p></a>

	</div>
</section>