<section id="users-section">
	<div class="container">

		<div class="inline-block">
			<div id="users-edit-div">
				<img id="users-img" src="../img/user-m.jpg">
				<a class="users-edit-text block-center link" href="#">Edit User Info</a>
			</div>
		</div>
		<div id="users-heading-div">
			<h1 class="inline-block" id="users-heading">Welcome, <span class="orange">First!</span></h1>
		</div>


		<h2 id="users-deck-subheading"><u>My Deck</u></h2>

		<!-- cards will populate here.  dummy data to visualize -->
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
		<img class="thumbnails" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=8&type=card">
	</div>
</section>